@inject Microsoft.AspNetCore.Http.IHttpContextAccessor p
@using System.Diagnostics´;
@using Poznamky.Models;
@model List<Poznamkyy>;
@{

    Layout = "_Layout";
}
<h1>Vaše poznámky:</h1>
<p>@ViewData["chyba"]</p>
@if (Model.Where(i => i.Owner == p.HttpContext.Session.GetString("Jmeno_Prihlaseni")).Count() != 0)
{
    @foreach (Poznamkyy poznamka in Model.Where(i => i.Owner == p.HttpContext.Session.GetString("Jmeno_Prihlaseni")))
    {
        @if (poznamka.JeDulezita == true)
        {
        
            <a style="text-decoration:none; color:black;" href="/Poznamkyy/edit/@poznamka.Id"><p style="color:red;">DULEZITE: @poznamka.Nadpis</p></a>
            <p style="color:red; border-bottom: solid black 3px;">@poznamka.CasPridani</p>
            
        }
        @if (poznamka.JeDulezita != true)
        {
            Debug.WriteLine("Prehled:");
            Debug.WriteLine(poznamka.Id);
            <a style="text-decoration:none; color:black;" href="/Poznamkyy/edit/@poznamka.Id"><p>@poznamka.Nadpis</p></a>
            <p style="border-bottom: solid black 3px;">@poznamka.CasPridani</p>
        }
    }
}